
<div *ngIf="cart && cart.items.length" class="container">
<ul>
  <li *ngFor="let item of items">
    <div>
      <img >
    </div>
    <div>
      <a routerLink="/product/{{item.product.id}}">
        {{ item.name }}
      </a>
    </div>
    <div>
      <select #quantitySelect
      [value]="item.quantity"
      (change)="changeQuantity()">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    </div>
    <div>
      {{ item.price | currency}}
    </div>

    <div>
      <button class="remove-button" >
        Remove
      </button>
    </div>
  </li>
</ul>
<div class="checkout">
  <div>
    <div class="products-count">{{cart.totalCount}}</div>
    <div class="total-price">{{cart.totalPrice|currency}}</div>
  </div>

  <a routerLink="/checkout">Proceed to Checkout</a>
</div>
</div>
