<div class="banner">
    <div class="content">
        <h3 >About Us</h3>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
        <div class="text">
            <h3>Why You <span style="color: red;">Choose Us</span> ?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rerum error debitis dignissimos aliquam, omnis quidem repellat quaerat tempora enim.
                dignissimos aliquam, omnis quidem repellat quaerat tempora enim.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, quaerat.</p>
            <ul>
               <li>
                <i class="fa-regular fa-square-check" style="color: red;"></i>   Best-Product
               </li>
               <li>
                <i class="fa-regular fa-square-check" style="color: red;"></i>   Gives-Warrenty
               </li>
               <li>
                <i class="fa-regular fa-square-check" style="color: red;"></i> 5 Days Money-Back
               </li>
            </ul>
            <button type="submit" class="btn ms-3">Read More</button>
        </div>
        </div>
        <div class="col-md-6">
<div class="img"></div>
        </div>
    </div>
</div>

<!------------------------------ Services-Section ----------------------------------------------->

<div class="bgcolor py-5">
    <div class="container">
        <h3 class="heading">Services</h3>
         <div class="row">
             <div class="col-md-4 mt-5">
                 <div class="first-section card1">
                     <img src="../../../../assets/van.png"  alt="" srcset="">
                     <h4 style="color: red;">Free Shipping</h4>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos magnam tenetur nihil, quam perferendis nam?</p>
                 </div>
             </div>
             <div class="col-md-4 mt-5">
                 <div class="second-section card1">
                     <img src="../../../../assets/customer-service.png"  alt="" srcset="">
                     <h4 style="color: red;">24/7 Facilities</h4>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos magnam tenetur nihil, quam perferendis nam?</p>
                 </div>
             </div>
             <div class="col-md-4 mt-5">
                 <div class="third-section card1">
                     <img src="../../../../assets/money.png" alt="" srcset="">
                     <h4 style="color: red;">Money-Back Gurrenty</h4>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos magnam tenetur nihil, quam perferendis nam?</p>
                 </div>
             </div>
         </div>
     </div>
</div>
<!------------------------------ Services-Section ----------------------------------------------->
