<div class="banner">
    <div class="content">
        <h3>View Products</h3>
    </div>
</div>
<!-------------------------------------------------------------------- view-product  -->
<div class="container" *ngFor="let images of getAllDataWithOwnId?.ProductImages">
    <div class="row">

        <div class="col-md-4 my-3  pro">
            <div class="gallery" >

                <label class="inline" [for]="url+images._id"
                    [ngStyle]="{ 'background-image': 'url(' + url+images.ProductImageUrl + ')'}"></label>



            </div>

        </div>
        <div class="col-md-8">
            <div class="content">
                <h1>{{getAllDataWithOwnId?.productName}}</h1>
                <hr>

                <h2 class="text-danger">{{getAllDataWithOwnId?.price|currency}}</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima dolorem omnis aspernatur, ducimus,
                    eos itaque quam suscipit ipsa non illo quod quidem eligendi, impedit nam enim ad fugit facere
                    nesciunt ut dolore dicta iure necessitatibus nihil alias! Fugit fugiat, ea molestias mollitia
                    tenetur dolorem eius quisquam, ex provident corrupti explicabo laboriosam, dolores voluptatem ab
                    corporis est minus!</p>
                <hr>
                <div class="wrapper1">
                    <span>Total-Quantity</span>
                    <ul class="ul">
                        <li>
                            {{getAllDataWithOwnId?.quantity}}
                        </li>
                    </ul>
                    <span>Add-Quantity</span>
                    <div class="quantity-wrapper1 my-2">
                        <span>-</span>
                        0
                        <span>+</span>
                    </div>
                    <button type="button" class="btn btn1 d-flex justify-content-center">Add To Cart</button>
                </div>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="fontAwesome">
                                <i class="fa-sharp fa-solid fa-handshake"></i>
                                <span>24/7 Gurantee</span>
                                <div>Support-Gurantee</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fontAwesome">
                                <i class="fa-solid fa-shield-halved"></i>
                                <span>60-Days-Protection</span>
                                <div>Money Back Gurantee</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fontAwesome">
                                <i class="fa-sharp fa-solid fa-money-check-dollar"></i>
                                <span>Easy-Payment</span>
                                <div>Debit/Credit Card</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
